//---------- COLORS ------------
// Common
$cl-white: #fff;
$cl-black: #000;
$cl-transparent: rgba(0, 0, 0, 0);
$cl-header-bg: #333;
$cl-body-bg: #333;

// Login
$cl-form-bg: #333;
$cl-form-btn:#3aa96e;
$cl-form-btn-active:#45d287;
