<%# product tab %>
<ul class="nav nav-tabs tab-product" role="tablist">
  <li role="presentation" class="tab-product__item active"><a href="#cafe" aria-controls="cafe" role="tab" data-toggle="tab">Cafe</a></li>
  <li role="presentation" class="tab-product__item"><a href="#fruit" aria-controls="fruit" role="tab" data-toggle="tab">Fruit</a></li>
  <li role="presentation" class="tab-product__item"><a href="#iceCream" aria-controls="iceCream" role="tab" data-toggle="tab">Ice cream</a></li>
  <li role="presentation" class="tab-product__item"><a href="#tea" aria-controls="tea" role="tab" data-toggle="tab">Tea</a></li>
  <li role="presentation" class="tab-product__item"><a href="#can" aria-controls="can" role="tab" data-toggle="tab">Can</a></li>
  <li role="presentation" class="tab-product__item"><a href="#can" aria-controls="can" role="tab" data-toggle="tab">Can</a></li>
</ul>
