<div>
    # header
    <form>
        <div class="input-group mb-2 mb-sm-0">
            <div class="input-group-addon">@</div>
            <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Username">
        </div>
        <div class="input-group mb-2 mb-sm-0">
            <div class="input-group-addon">@</div>
            <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Username">
        </div>
        <div class="col-auto">
            <div class="form-check mb-2 mb-sm-0">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox"> Remember me
            </label>
            </div>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>