<%# show all tables %>
<div role="tabpanel" class="tab-pane tabs-menu__table active" id="tables">
  <div class="floor-table">
    <p class="floor-table__name">Floor 1</p>
    <ul class="floor-table__group">
      <li class="floor-table__item">
        <p class="floor-table__number">1</p>
        <button type="button" class="btn floor-table__btn">+</button>
      </li>
      <li class="floor-table__item ordered">
        <p class="floor-table__number">2</p>
        <button type="button" class="btn floor-table__btn">+</button>
      </li>
      <li class="floor-table__item">
        <p class="floor-table__number">3</p>
        <button type="button" class="btn floor-table__btn">+</button>
      </li>
      <li class="floor-table__item">
        <p class="floor-table__number">4</p>
        <button type="button" class="btn floor-table__btn">+</button>
      </li>
      <li class="floor-table__item">
        <p class="floor-table__number">5</p>
        <button type="button" class="btn floor-table__btn">+</button>
      </li>
    </ul>
  </div>
</div>
