<div class="header-lg">
  <header class="header">
    <div class="container">
      <h1 class="header__logo">
        <a href="#" class="header__link">
          <%= image_tag "alibaba-logo.png", height: "30px", width: "30px", class: "logo" %>
          <h3 class="header__name">Alibaba</h3>
        </a>
      </h1>
    </div>
  </header>
</div>
