<%# tab bar %>
<ul class="nav nav-tabs tabs-menu" role="tablist">
  <li role="presentation" data-tab="tabs-menu__table" class="active"><a class="tabs-menu__link" href="#tables" aria-controls="tables" role="tab" data-toggle="tab">Tables</a></li>
  <li role="presentation" data-tab="tabs-menu__product"><a class="tabs-menu__link" href="#product" aria-controls="product" role="tab" data-toggle="tab">Product</a></li>
  <li role="presentation" data-tab="tabs-menu__statictis-money"><a class="tabs-menu__link" href="#statictis-money" aria-controls="statictis-money" role="tab" data-toggle="tab">Statistics money</a></li>
  <li role="presentation" data-tab="tabs-menu__manages-staff"><a class="tabs-menu__link" href="#manages-staff" aria-controls="manages-staff" role="tab" data-toggle="tab">Manage Staffs</a></li>
  <li role="presentation" data-tab="tabs-menu__manages-product"><a class="tabs-menu__link" href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Manage product</a></li>
  <li role="presentation" data-tab="tabs-menu__manages-tables"><a class="tabs-menu__link" href="#manageTables" aria-controls="manageTables" role="tab" data-toggle="tab">Manage Tables</a></li>
  <li role="presentation" data-tab="tabs-menu__discount"><a class="tabs-menu__link" href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Discount</a></li>
</ul>
