<%# tab bar %>
<ul class="nav nav-tabs tabs-menu" role="tablist">
  <li role="presentation" class="active"><a class="tabs-menu__link" href="#tables" aria-controls="tables" role="tab" data-toggle="tab">Tables</a></li>
  <li role="presentation"><a class="tabs-menu__link" href="#profile" aria-controls="profile" role="tab" data-toggle="tab">product</a></li>
  <li role="presentation"><a class="tabs-menu__link" href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Statistics money</a></li>
  <li role="presentation"><a class="tabs-menu__link" href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Manage Staffs</a></li>
  <li role="presentation"><a class="tabs-menu__link" href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Manage product</a></li>
  <li role="presentation"><a class="tabs-menu__link" href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Manage Tables</a></li>
</ul>
